<article>
  <h1>V1.0.0</h1>
  <ul>
    <li>INITIAL PUBLIC RELEASE</li>
  </ul>
</article>

<article>
  <h1>V0.9.0</h1>
  <ul>
    <li>Closed Beta</li>
  </ul>
</article>

<article>
  <h1>V0.8.1</h1>
  <ul>
    <li>Match Notifications</li>
  </ul>
</article>

<article>
  <h1>V0.8.0</h1>
  <ul>
    <li>View Matches</li>
  </ul>
</article>

<article>
  <h1>V0.7.1</h1>
  <ul>
    <li>Support bulk removal of Has Criteria</li>
    <li>Support bulk removal of Wants Criteria</li>
  </ul>
</article>

<article>
  <h1>V0.7.0</h1>
  <ul>
    <li>Add Has Criteria</li>
    <li>Add Wants Criteria</li>
    <li>Remove Has Criteria</li>
    <li>Remove Wants Criteria</li>
  </ul>
</article>

<article>
  <h1>V0.6.1</h1>
  <ul>
    <li>Support bulk removal of Profiles</li>
  </ul>
</article>

<article>
  <h1>V0.6.0</h1>
  <ul>
    <li>Add Profile</li>
    <li>Rename Profile</li>
    <li>Remove Profile</li>
  </ul>
</article>

<article>
  <h1>V0.5.0</h1>
  <ul>
    <li>Attach Metrics to Has and Wants Criteria</li>
  </ul>
</article>

<article>
  <h1>V0.4.0</h1>
  <ul>
    <li>Attach Has and Wants Criteria to Profiles</li>
  </ul>
</article>

<article>
  <h1>V0.3.0</h1>
  <ul>
    <li>Attach Account to authenticated user</li>
    <li>Show profiles for Account</li>
  </ul>
</article>

<article>
  <h1>V0.2.0</h1>
  <ul>
    <li>Event based authentication model</li>
    <li>IndexedDB library implemented.</li>
  </ul>
</article>

<article>
  <h1>V0.1.2</h1>
  <ul>
    <li>Fixed not disabling the sign out button when signed out</li>
  </ul>
</article>

<article>
  <h1>V0.1.1</h1>
  <ul>
    <li>INCLUDED CHANGELOG</li>
    <li>Cuz I'm a dummy</li>
  </ul>
</article>

<article>
  <h1>V0.1.0</h1>
  <ul>
    <li>AUTHENTICATION SUPPORT</li>
    <li>Yeah baby, yeah.</li>
  </ul>
</article>

<article>
  <h1>V0.0.61</h1>
  <ul>
    <li>Using sw update method of 'none' (at least until updates stabilize)</li>
  </ul>
</article>

<article>
  <h1>V0.0.60</h1>
  <ul>
    <li>Fixed sidebar font size</li>
    <li>Fixed sidebar min-width</li>
  </ul>
</article>

<article>
  <h1>V0.0.55</h1>
  <ul>
    <li>Fixed icon requests</li>
  </ul>
</article>

<article>
  <h1>V0.0.40</h1>
  <ul>
    <li>Initial data structures implementation</li>
    <li>Updated PWA framework</li>
    <li>Updated copyright date</li>
  </ul>
</article>

<article>
  <h1>V0.0.1</h1>
  <ul>
    <li>Initial release</li>
  </ul>
</article>
